
# Alias login
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^li$ /wp-login.php [NC,L]
</IfModule>

# Deny access to 'protected' files
<FilesMatch "license\.txt|wp\-config\-sample\.php|readme\.html|\.htaccess|wp\-config\.php|xmlrpc\.php|debug\.log">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order deny,allow
        Deny from all
    </IfModule>
</FilesMatch>

# Disable trace and track requests
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]
</IfModule>

# TODO: Spam bot protection
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteCond %{REQUEST_METHOD} POST
#    RewriteCond %{REQUEST_URI} ^(.*)?wp-comments-post\.php(.*)$
#    RewriteCond %{HTTP_REFERER} !^http(s)?://thedomain [NC,OR]
#    RewriteCond %{HTTP_USER_AGENT} ^$
#    RewriteRule .* http://127.0.0.1 [L]
#</IfModule>

# TODO: Hotlink protection
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteCond %{HTTP_REFERER} !^$
#    RewriteCond %{REQUEST_FILENAME} -f
#    RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g?|png)$ [NC]
#    RewriteCond %{HTTP_REFERER} !^http(s)?://thedomain [NC]
#    RewriteRule \.(gif|jpe?g?|png)$ - [F,NC,L]
#</IfModule>
#AIOWPS_PREVENT_IMAGE_HOTLINKS_END
# END All In One WP Security

# Brute force prevention
#RewriteEngine On
#RewriteCond %{REQUEST_URI} (wp-admin|wp-login)
#RewriteCond %{REQUEST_URI} !(wp-admin/admin-ajax.php)
#RewriteCond %{HTTP_COOKIE} != [NC]
#RewriteCond %{HTTP_COOKIE} != [NC]
#RewriteRule .* http://127.0.0.1 [L]
#

ServerSignature Off
# Limit request size to 64MB
LimitRequestBody 67108864
# Don't list indexes
Options All -Indexes


# BEGIN WordPress
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
# END WordPress